{% extends "template.twig" %}

{% block title "Modifier mon post" %}

{% block body %}

    <div class="container text-center mt-5">
        <h1>Modifier mon post</h1>

        <form class="shadow w-50 mx-auto mt-4" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Titre</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
            </div>

            <div class="mb-3">
                <label for="chapo" class="form-label">Chapo</label>
                <input type="text" class="form-control" id="chapo" name="chapo" value="{{ post.chapo }}">
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Contenu</label>
                <textarea class="form-control" id="content" name="content" rows="5">{{ post.content }}</textarea>
            </div>

            <input type="hidden" name="postId" value="{{ post.id }}">

            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>

{% endblock %}
